<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="index.css" /> 
<title>JS Project</title>
</head>

<body>

<form class="loaction-form" action="GET">

Enter your location:<br>
<input type="text" name="location"><br>

Enter your destination:<br>
<input type="text" name="destination"><br>

<input type="submit" value="Submit">
</form>

</body>

</html>