<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="index.css" /> 
<title>JS Project</title>
</head>

<body>
 <div class="wrap"> 
    <% if (rainValue == true) { %>
    <h1 class="content"> YES </h1>
    <%  } else  { %>
    <h1 class="content"> NO </h1>
    <%  } %>
 </div>
</body>
</html>